<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.3.5" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.8.26" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.31" targetFramework="net472" />
  <package id="MySqlConnector" version="2.1.13" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="SqlKata" version="2.4.0" targetFramework="net472" />
  <package id="SqlKata.Execution" version="2.4.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
</packages>